.App {
  text-align: center;
  margin: 0px auto;
  max-width: 1920px;
  height: 100vh;
}

p {
  margin: 0;
}

.ContainerLeft {
  padding: 80px 30px 50px;
  background-color: #f5f5f5;
}

.ContainerRight {
  padding: 30px 30px;
}

.ContainerSearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto 20px;
}

.buttonSearch {
  margin-left: 10px !important;
}

.ContainerResults {
  padding-top: 20px;
  text-align: left;
}

.LoadingSearch {
  width: 80px;
  height: 80px;
}

.center {
  display: flex;
  justify-content: center;
}

.right{
  display: flex;
  justify-content: flex-end;
}

.ImageSearch{
  width:300px;
  max-width: 80%;
  opacity: 0.7;
  margin-top: 30px;
}

.Result{
  margin-top: 10px;
}